.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2755aa, #a91ead);
  width: 130px;
  height: 130px;
  border-radius: 20px;
}
.logo img {
  width: 70%;
}

.container {
  position: absolute;
  right: 10%;
  transition: all 1s ease;
  max-width: 300px;
  min-width: 200px;
  max-height: 300px;
  min-height: 200px;
  background-color: transparent;
  border: 3px solid black;
  display: flex;
  justify-items: center;
  align-items: center;
}
.container #container__img {
  margin: 0 auto;
  min-width: 100%;
  max-height: 296px;
}
.container__box {
  position: absolute;
  box-shadow: 0 0 0 3px deeppink inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .container {
    display: block;
    top: 80%;
    transform: translate(-50%, 50%);
    left: 50%;
  }
  #container__img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 296px;
  }
}
@media only screen and (max-width: 750px) {
  .container {
    display: block;
    top: 100%;
    transform: translate(-50%, 50%);
    left: 50%;
    width: 100%;
  }
}
.application {
  width: 400px;
  height: 450px;
  border: 2px solid black;
  background: linear-gradient(to left, #2755aa, #a91ead);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 20px;
  font-size: 1.6rem;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 3px 3px 30px black;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translateX(-50%) translateY(-50%);
  transition: all 1s ease;
}
.application-title {
  width: 85%;
  text-align: center;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.application--form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 20px;
}
.application--form-input {
  width: 90%;
  font-size: 1.3rem;
  padding: 0.6rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
}
.application--form-submit {
  padding: 5px 10px;
  font-size: 1.2rem;
  background: lightgreen;
  border: 1px solid black;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.application--form-submit:hover {
  transform: scale(1.05);
}
.application--form-submit:active {
  transform: scale(0.98);
}

@media only screen and (max-width: 750px) {
  .application {
    top: 70%;
    width: 90%;
  }
}
.navigation-title {
  color: black;
  font-size: 2rem;
  position: absolute;
  top: 50px;
  right: 30px;
  cursor: pointer;
}
.navigation-title.active {
  display: block;
}
.navigation-title.inactive {
  display: none;
}
.navigation-title::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: all 2s ease-in-out;
}
.navigation-title:hover::before {
  transform: scaleX(1);
}
.navigation__form {
  position: absolute;
  width: 300px;
  background-color: white;
  height: 400px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 5;
  border-radius: 20px;
  box-shadow: 0 0 0px 10px black;
  padding: 2%;
}
.navigation__form > div {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  box-sizing: content-box;
  width: 10%;
  padding: 5px;
}
.navigation__form > div:hover {
  background: lightgray;
  border-radius: 50%;
  cursor: pointer;
}
.navigation__form.register {
  height: 450px;
}
.navigation__form.active {
  display: block;
}
.navigation__form.inactive {
  display: none;
}
.navigation__form input {
  width: 100%;
  height: 2.3rem;
  font-size: 1.4rem;
  padding: 2%;
}
.navigation__form label {
  font-size: 1.3rem;
  margin: 20px 0 5px 4px;
  display: block;
}
.navigation__form button {
  display: block;
  margin: 30px auto -10px auto;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1.3rem;
  background: linear-gradient(to left, #2755aa, #a91ead);
  color: white;
  cursor: pointer;
  transition: all 150ms ease-in;
}
.navigation__form button:hover {
  transform: scale(1.03);
}
.navigation__form > aside {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
}
.navigation__form > aside:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 100ms ease;
}

.rank {
  font-size: 1.3rem;
  text-align: center;
}
.rank span {
  color: #00ff15;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 40px;
}

#tsparticles {
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 1100px) {
  body {
    min-height: 140vh;
  }
}
@media only screen and (max-width: 750px) {
  body {
    min-height: 160vh;
  }
}

/*# sourceMappingURL=main.css.map */
