@use './styles/components/_Logo.scss';
@use './styles/components/_faceRecognition.scss';
@use './styles/components/_imageLinkForm.scss';
@use './styles/components/_navigation.scss';
@use './styles/components/_rank.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  padding: 40px;
}
#tsparticles{
  position: absolute;
  z-index: -1;
}